button {
    border-color: transparent;
    width: 100px;
    margin-left: 35%;
}

button:hover {
    background-color: coral;
    border-color: tomato;
    color: white;
}

label {
    font-size: 16px;
    margin: 5px;
    margin-left: 20px;
}

img {
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-right: auto;
}

h1 {
    color: #595959;
    margin: 20px;
    text-align: center;
}

input {
    margin: 20px;
}