<app-nav></app-nav>

<div class="row">

    <img src="../../../assets/img/Group 11.png" class="img1" alt="" srcset="">

</div>

<div class="row">
    <div class="tarjeta text-center">
        <div class="card-body">
            <p class="card-text">Encuentra tu sitio ideal y olvídate de pasar malos ratos.</p>
            <a href="" class="btn btn-primary"> Ver más</a>
        </div>
    </div>
    <div class="tarjeta text-center">

        <div class="card-body ">

            <p class="card-text">Visita lugares seguros y verificados con la ayuda de Best Places Montería</p>
            <a href="" class="btn btn-primary"> Ver más</a>
        </div>
    </div>
    <div class="tarjeta text-center">
        <div class="card-body">
            <p class="card-text">De la mano de Best Places posiciona tu emprendimiento</p>
            <a href="" class="btn btn-primary"> Ver más</a>
        </div>
    </div>
</div>

<div class="row cimg row3">
    <div class="col ">
        <img id="img2" src="../../../assets/img/imagen 3.png" alt="" srcset="">

        <h1 id="img2-title">BestPlaces</h1>
        <p id="img2-text">Creando lazos para crecer juntos</p>
    </div>
    <div class="col col-right">
        <h3>¿Quienes somos?</h3>
        <p>Somos una plataforma dedicada a la publicidad de sitios de venta de comida, como restaurantes, pizzerias entre otros tipos de establecimientos, aqui podas encontrar el sitio que sea de tu agrado, tambien referencias de otros usuarios acerca del
            establecimientos y veras la calificacion del servicio prestado por estos.
        </p>
    </div>
</div>

<div class="row row4">
    <div class="col col-right2">
        <h3>Nuestros servicios</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet exercitationem ipsam quos in neque. Officiis ipsa, est nesciunt, vel culpa voluptas optio expedita nam autem voluptatem obcaecati commodi aperiam harum adipisci veritatis molestiae
            repudiandae sint consequuntur. Alias inventore optio ullam.</p>
    </div>
    <div class="col">
        <img id="img3" src="../../../assets/img/imagen 4.png" alt="" srcset="">
    </div>
</div>