<div class="footer">
    <div class="row">
        <div class="col">
            <ul class="list-group">

                <li class="icon"> <i class="fa fa-twitter" aria-hidden="true"></i></li>
                <li class="icon"> <i class="fa fa-facebook" aria-hidden="true"></i></li>
                <li class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                <li class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>
                    <p>Contacto</p>
                </li>
                <li>
                    <p>314-567-099</p>
                </li>
                <li>
                    <p>bestplacesgmail.com</p>
                </li>
            </ul>

        </div>
        <div class="col">
            <ul>
                <li>
                    <p>Autores</p>
                </li>
                <li>
                    <p>Milly Benitez</p>
                </li>
                <li>
                    <p>Santiago Padilla</p>
                </li>
                <li>
                    <p>Luis A Macea</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>
                    <p>Información</p>
                </li>
                <li>
                    <p>Terminos y condiciones</p>
                </li>
                <li>
                    <p>Politica y privacidad</p>
                </li>
                <li>
                    <p>Autorización de tratamiento de datos personales</p>
                </li>
            </ul>
        </div>
    </div>
</div>