<app-nav [autenticado]="this.autenticado"></app-nav>

<div *ngIf="this.cargando === true" class="text-center">
    <img src="../../../assets/img/marginalia-760.png" alt="" style="width: 300px; height: 300px;">

    <div class="spinner-border" style="width: 3rem; height: 3rem; color: tomato;" role="status">
        <span class="visually-hidden"> Cargando</span>
    </div>

    <p style="color: #595959; font-size: 20px;">Cargando </p>
</div>

<div *ngIf="this.cargando === false" class="row g-2">
    <div class="col-md-6 " style="width: 558px; height: 325;">
        <img [src]="this.site.img" alt="...">
    </div>
    <div class="col-md-6 bodyc">

        <div class="card-body">
            <h5 class="card-title">{{this.site.nombre}}</h5>
            <div class="calificar">
                <star-rating [value]="this.site.valoracion || 0" [totalstars]="5" (click)="acceso()" checkedcolor="#F24141" uncheckedcolor="black" size="24px" [readonly]="true"></star-rating>
                <button class="btn btn-outline-info  btn-sm btnCalificar" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Calificar</button>
            </div>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 style="font-size: 20px;" class="modal-title" id="staticBackdropLabel">¡Puedes dejarnos tu calificación?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span>La calificación que dejes es muy importante para este sitio u otros usurarios que
                                buscan referencias sobre este.
                            </span>

                            <p>Para calificar puedes seleccionar una estrella, cada estrella representa un valor en el siguiente orden 1-2-3-4-5</p>
                            <star-rating [value]="5" [totalstars]="5" checkedcolor="#F24141" uncheckedcolor="black" size="24px" (rate)="onRate($event)"></star-rating>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button style="background-color: coral; border-color: coral;" type="button" class="btn btn-primary" (click)="AddCalificacion()" data-bs-dismiss="modal">Guardar calificacion</button>
                        </div>
                    </div>
                </div>
            </div>



            <p class="card-text">{{this.site.descripcion}}</p>

            <p class="subtitle">Categoria : {{this.site.categoria}}</p>
        </div>
    </div>
</div>





<div *ngIf="this.cargando === false" class="row user">
    <div class="col-2 col-img">
        <img id="useractual" *ngIf="this.usuario?.photoURL !== undefined" [src]="this.usuario?.photoURL" alt="" style="width: 50px; border-radius: 50px; height: 50px;">
    </div>
    <div class="col">
        <form action="" (ngSubmit)="guardarDatos(forma)" #forma="ngForm">
            <input class="form-control comentar" name="contenido" type="text" placeholder="Agrega un comentario" aria-label="default input example" ngModel #contenido="ngModel">
            <button class="btn btn-primary btn-sm send" type="submit" style="width: 60px; color: white; ">
                Enviar</button>
        </form>
    </div>


    <div>
        <button type="button" class="btn btn-outline-primary verComent" data-bs-toggle="collapse" data-bs-target="#collapseExample" (click)="cargarComentarios()" style="border-color: white; color: #F24141;"> Ver comentarios</button>
    </div>
</div>
<div class="collapse" id="collapseExample" aria-expanded="false" aria-controls="collapseExample">

    <div>
        <div *ngFor="let item of this.coleccionC; let i =index ">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-coment" [src]="this.coleccionC[i].imgu" alt="">
                </div>
                <div class="card mb-3">

                    <div class="col-md-8">
                        <p>{{this.coleccionC[i].contenido}}</p>
                    </div>
                </div>
                <div class="icons">
                    <a (click)="eliminarComentario(this.coleccionC[i].id || '', this.coleccionC[i].uid)" type="button" style="margin: 10px; width: 20px; height: 20px;"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin: 10px; width: 20px; height: 20px;">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
            <!--
            <span>{{this.coleccionC[i].fecha }} </span>
            <p>{{this.coleccionC[i].id }}</p>-->


            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">Editar Comentario</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" (ngSubmit)="editarComentario(forma,this.coleccionC[i].id || '', this.coleccionC[i].uid)" #forma="ngForm">
                                <input class="form-control " name="coment" type="text" placeholder="Agrega un comentario" [value]="this.coleccionC[i].contenido" ngModel #coment="ngModel">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button style="margin: 10px; background-color: #F24141; border-color: #F24141; " type="submit" class="btn btn-primary"> Guardar </button>
                            </form>

                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>