<app-nav></app-nav>
<!--
<button (click)="logout()" type="button" class="btn btn-outline">Logout</button>-->
<div class="row">

    <div class="col left">
        <img src="../../../assets/img/imagen 3.png" alt="" class="col1">
        <h1 class="col1">BestPlaces</h1>
        <p class="col1 p1">Creando lazos para crecer juntos</p>


        <div class="card-body">
            <h5 class="card-title">¡Hola! </h5>
            <p class="card-text">Gracias por elegirnos en BestPlace encontarras los sitios de venta de comida que estan a tu alcance . Esperamos que tu estadia sea de gran provecho.</p>
        </div>

    </div>
    <div class="col datos">
        <h3>Login</h3>

        <div class="formulario">
            <form action="" (ngSubmit)="loginEmail(forma)" #forma="ngForm">
                <p id="usuario">Usuario</p>
                <input type="text" class="form-control" [class.is-invalid]="user.invalid && user.touched" placeholder="email@example.com" name="user" aria-label="default input example" ngModel #user="ngModel" minlength="6">
                <small style="color: red;" *ngIf="user.invalid && user.touched"> Email invalido</small>

                <p id="pass">Contraseña</p>
                <input type="password" class="form-control" id="inputPassword" placeholder="*********" name="pass" aria-label="default input example" ngModel #pass="ngModel">

                <a routerLink="/registro">¿No tienes una cuenta? Registrate</a>

                <button class="btn btn-primary bLog" type="submit">Login</button>
            </form>

        </div>
        <div class="botones">


            <p style="margin-left: 27%;">OR</p>
            <button (click)="login()" type="button" class="btn btn-outline"><i style="margin: 5px;" class="fa fa-google" aria-hidden="true"></i>Google </button>
        </div>

        <a routerLink="/resetPassword">
            <p> ¡Upss! Olvide mi contraseña</p>
        </a>

    </div>
</div>